<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="utf-8"><title>Home</title><link rel="stylesheet" th:href="@{/css/style.css}"></head>
<body>
  <nav>
    <a th:href="@{/home}">Home</a> |
    <a th:href="@{/shadi}">Shadi</a> |
    <a th:href="@{/birthday}">Birthday</a> |
    <a th:href="@{/anniversary}">Anniversary</a> |
    <a th:href="@{/party}">Party</a> |
    <a th:href="@{/other}">Other_Event</a> |
    <a th:href="@{/events/show}">Show Event</a>
  </nav>

  <h1>Welcome to Event Management</h1>
  <p>Use navbar to create or view events.</p>
</body>
</html>
